<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h1>Rreth Nesh</h1>
    <img src="{% static 'images/imageslogo.jpg.png' %}" alt="Image description">
    
    

<p>Kompania Collaku u themelua në 2024 dhe sot është lider në tregun e Shqipërisë dhe jashtë tij në fushën e arredimit. Për pak vite, kompania Collaku ka ofruar zgjidhje cilësore me një gamë të gjerë të produkteve nga  marka ndërkombëtare. Misioni i tyre është të vazhdojnë këtë angazhim dhe sukses duke u përgjigjur nevojave të klientëve dhe partnerëve me seriozitet dhe qëndrueshmëri. Me një bashkëpunim me rreth 200 brande lider, kompania vazhdon të jetë referenca në tregun e pllakave, hidrosanitareve, mobiljeve dhe më shumë.</p>
</div>


{% endblock %}
